<h1>articles#index</h1>
<p>Find me in app/views/articles/index.html.erb</p>


<%= image_tag "A1.jpg" , alt: "A1" %>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |item| %>
      <tr>
        <td><%= item.title %></td>
        <td><%= item.body %></td> 
        <td><%= link_to "Show", item %></td>
        <td><%= link_to "Edit", edit_article_path(item) %></td>
        <td><%= link_to "Destroy", item, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
